.contacts-bg {
    background: linear-gradient(rgba(58,78,106, 0.6),rgba(34,34,34, 0.6)), url(../img/contacts-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 850px;
    width: 100%;
}

.container {
    width: 881px;
    margin: 0 auto;
    text-align: center;
}

.contacts {
    padding: 99px 0 115px;
}

.contacts__info {
    margin-bottom: 30px;
}

.contacts__info-number {
    margin: 0 0 18px 0;
    color: #e76122;
    font-family: "Open Sans Condensed";
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
}

.contacts__info-address {
    margin: 0 0 22px 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

.contacts__info-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 191px;
    margin: 0 auto;
}

.icon-links {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding-top: 10px;
    align-self: center;
    fill: #fff;
    transition: 0.2s;
}

.contacts__info-icon {
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    transition: 0.2s;
}

.contacts__info-icon:hover {
    box-shadow: 0 0 10px #2f2f2f;
}
.contacts__info-icon:hover .icon-links {
    fill: #2f2f2f;
}

.contacts__info-icon--facebook {
    background-color: #5378bc;
}

.icon-facebook {
    padding-left: 5px;
}

.contacts__info-icon--twitter {
    background-color: #36d0f7;
}

.icon-twitter {
    padding-right: 5px;
    padding-top: 13px;
}

.contacts__info-icon--linked {
    background-color: #007ab5;
}

.icon-linked {
    padding-right: 5px;
}

.contacts__info-icon--pinterest {
    background-color: #e92a2a;
}

.icon-pinterest {
    padding-right: 5px;
}

.contacts__message {
    margin-bottom: 32px;
}

.contacts__send-message {
    margin: 0 0 23px 0;
    color: #e76122;
    font-family: "Open Sans Condensed";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.contacts__message-desc {
    margin: 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
}

.contacts__form {
    height: 241px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contacts__form-container {
    display: flex;
    justify-content: space-between;
    width: 770px;
    height: 165px;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 165px;
}

.form__inputs-place {
    box-sizing: border-box;
    width: 370px;
    height: 45px;
    border: none;
    border-radius: 4px;
    padding-left: 15px;
}

.form__inputs-place::placeholder,
.form__textarea-place::placeholder {
    color: #777777;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.form__textarea-place {
    box-sizing: border-box;
    width: 370px;
    height: 165px;
    padding: 0;
    border: none;
    border-radius: 4px;
    padding: 17px 0 0 15px;
}

.form__button {
    background-color: #5dbdb1;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 17px 32px;
    transition: 0.2s;
    cursor: pointer;
}

.form__button:hover {
    background-color: #4e9e95;
}

.contacts__footer {
    border-top: 1px dashed #fff;
    margin-top: auto;
}

.contacts__footer-copyright {
    margin: 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 30px 0 19px;
}

.contacts__footer-arrow {
    margin-bottom: 40px;
}

@media (max-width: 1099px) {
    .container {
        width: 70%;
    }

    .contacts__form {
        flex-direction: column;
        height: auto;
    }

    .contacts__form-container {
        flex-direction: column;
        height: auto;
    }

    .form__inputs {
        margin-bottom: 20px;
    }

    .form__textarea {
        margin-bottom: 60px;
    }
}

@media (max-width: 530px) {
    .contacts__form-container,
    .form__inputs,
    .form__inputs-place,
    .form__textarea-place {
        width: 100%;
    }
}